// color text

$txt-h1-color:#232537;
$txt-h4-color:#53575F;
$txt-h5-color:#D8271F;

// main background colors

$main-bg-color:#FFFFFF;
$main-color: #4267b2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

// set width and height
$header-height:60px;

// set font size
$header-font-size-Large:25px;