.wrapper {
  height: $header-height;
  background-color: #fff;
  position: static;
  padding: 0;
  box-shadow: 0 1px 2px 2px rgb(55 56 72 / 4%);
  height: 60px;
  line-height: 60px;
  border-bottom:1px solid #53575f;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .authentication {
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: 16px;
    outline: none;
    .btn-authent {
      background-color: #2075bd;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      gap: 5px;
      border-color: #2075bd;
      color: #fff;
    }
  }
}
.wrapper-logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 10px;
  .logo {
    max-width: 130px;
    width: fit-content;
    height: 32px;
  }
}
